# Ignore Gradle project-specific cache directory
.gradle

.idea
out/**
# Ignore Gradle build output directory
build
**/build/
!src/**/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
